@charset "utf-8";
/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
    cursor: url(img/cursor.png), auto;
}

a {
    cursor: url(img/cursor_pointer.png), auto;
}

@font-face {
    font-family: "Kanit bold";
    src: url("fonts/Kanit-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kanit extrabold";
    src: url("fonts/Kanit-ExtraBold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kanit medium";
    src: url("fonts/Kanit-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kanit light";
    src: url("fonts/Kanit-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Kanit bold", "sans-serif";
    font-size: 4.5em;
    text-transform: uppercase;
    line-height: 80px;
}

h2 {
    color: white;
    font-family: "Kanit medium", "sans-serif";
    font-size: 1.8em;
}

h3 {
    font-family: "Kanit medium", "sans-serif";
    font-size: 1.3em;
    text-transform: uppercase;
}

h4 {
    font-family: "Kanit light", "sans-serif";
    font-size: 0.9em;
}

p {
    font-family: "Kanit light", "sans-serif";
}

/* NAVEGADOR */
#cabecera {
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-size: 0.9em;
}

nav ul {
    list-style: none;
    width: 100%;
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
}

nav li {
    padding: 0 30px;
}

.contenedor {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botonera a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-family: "Kanit medium", "sans-serif";
    text-transform: uppercase;
}

.botonera a:hover {
    color: white;
    background-color: black;
}

.botonera a:active {
    color: black;
    background-color: darkgoldenrod;
}

/* INICIO */
.titulares_fondo {
    background-image: url(img/fondo_ilustracion2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-size: 100% auto;
    color: white;
}

.transparencia {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
}

.titulares {
    padding: 100px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.flecha_bajada {
    display: flex;
    justify-content: center;
    padding-bottom: 260px;
}

#bienvenida {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(133, 26, 88, 0.50) 100%), #000;
    width: 100%;
    margin: 0px auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentacion {
    padding: 0 0 20px 0;
    max-width: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    border-bottom: 1px solid white;
}

.trabajos_destacados {
    padding: 30px 0 0 0;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30PX;
}

.ilustraciones_destacadas {
    margin: 0 auto;
    width: 820px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

/*SOBRE MI*/
.presentacion_curriculum img {
    border-radius: 300px;
}

.bold_items {
    font-family: "Kanit medium", "sans-serif";
}

div article {
    font-family: "Kanit light", "sans-serif";
    font-size: 1em;
    max-width: 350px;
}

#contenedor_curriculum {
    background-color: darkgoldenrod;
    color: rgb(133, 26, 88);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 0 0;

    ol {
        list-style: disc;
        padding-left: 20px;
    }

    li {
        padding-left: 0px;
    }
}

.presentacion_curriculum {
    width: 100%;
    padding: 30px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    p {
        color: black;
    }
}

.estructura_columnas {
    padding: 50px 0 100px 0;
    color: white;
    background-color: rgb(133, 26, 88);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;

    ul {
        padding-left: 20px;
    }

    li {
        padding-left: 0;
    }
}

#columna_izquierda {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.estructura article {
    padding: 0 40px 0 0;
}

#perfil_profesional h3:hover {
    color: white;
}

#experiencia_laboral h3:hover {
    color: darkgoldenrod;
}

#formacion_academica h3:hover {
    color: darkgoldenrod;
}

#idiomas h3:hover {
    color: darkgoldenrod;
}

#programas h3:hover {
    color: darkgoldenrod;
}

.item {
    width: 20px;
    height: 20px;
}

/*TRABAJOS*/
#estructura_trabajos {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(184, 134, 11, 0.50) 100%), #000;
    color: white;
    width: 100%;
    padding: 100px 0;
}

.estructura_galeria {
    display: grid;
    text-align: center;
    gap: 30px;
}

.grid_imagenes {
    margin: 0 auto;
    width: 820px;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

img {
    transition: all 400ms ease;
}

img:hover {
    transform: scale(1.1);
}

/*CONTACTO*/
/*Estoy teniendo problemas con el contacto y la organización de elementos. No sé por qué los anchos de columnas, label, imput, etc, no se ajustan bien. Y cuando uso width:100% se sale de la pantalla el ancho de los imput*/
#estructura_contacto {
    font-family: "Kanit light", "sans-serif";
    background-color: rgb(133, 26, 88);
    color: white;
    padding: 100px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.contacto {
    font-family: "Kanit medium", "sans-serif";
    ;
    width: 800px;
    background-color: darkgoldenrod;
    padding: 48px 30px;
    box-shadow: -8px 10px 4px 0px rgba(0, 0, 0, 0.30);
}

form {
    color: rgb(133, 26, 88);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 100px;
}

.campos_marcar {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    font-size: 1.0em;
    height: 30px;
}

input {
    font-size: 1.0em;
    width: 100%;
    padding: 10px 24px;
    margin-top: 5px;
    margin-bottom: 20px;
    color: rgb(133, 26, 88);
    border: 3px solid rgb(133, 26, 88);
}

input [type=radio] {
    width: 100%;
    color: rgb(133, 26, 88);
}

textarea {
    font-size: 1.0em;
    width: 745px;
    height: 185px;
    padding: 10px 24px;
    margin-top: 8px;
    margin-bottom: 30px;
    color: rgb(133, 26, 88);
    border: 3px solid rgb(133, 26, 88);
}

/*Quería que el tamaño de los campos se ajuste al del fondo amarillo pero respetando los paddings, pero solo pude ajustarlo a ojo ponendo un ancho fijo.*/

.boton_enviar {
    width: 100%;
    background-color: rgb(133, 26, 88);
}

/* FOOTER */
.informacion_contacto {
    font-style: normal;
}

.correo a {
    text-decoration: none;
    color: white;
}

.correo a:hover {
    color: darkgoldenrod;
}

.correo a:active {
    color: rgb(133, 26, 88);
}

.telefono {
    padding-bottom: 20px;
}

.telefono a {
    text-decoration: none;
    color: white;
}

.telefono a:hover {
    color: darkgoldenrod;
}

.telefono a:active {
    color: rgb(133, 26, 88);
}

footer {
    background-color: black;
    color: white;
    font-family: "Kanit light", "sans-serif";
    text-decoration: none;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contenedor_footer {
    padding: 0 100px;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 70px;
}

.redes {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}