@charset "utf-8";
/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
    cursor: url(img/cursor.png), auto;
}

a {
    cursor: url(img/cursor_pointer.png), auto;
}

@font-face {
    font-family: "Kanit bold";
    src: url("fonts/Kanit-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kanit extrabold";
    src: url("fonts/Kanit-ExtraBold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kanit medium";
    src: url("fonts/Kanit-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Kanit light";
    src: url("fonts/Kanit-Light.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Kanit bold", "sans-serif";
    font-size: 6em;
    text-transform: uppercase;
    line-height: 80px;
}

h2 {
    color: white;
    font-family: "Kanit medium", "sans-serif";
    font-size: 2.5em;
}

h3 {
    font-family: "Kanit medium", "sans-serif";
    font-size: 2em;
    text-transform: uppercase;
}

p {
    font-family: "Kanit light", "sans-serif";
    font-size: 1.5em;
}

img {
    transition: all 400ms ease;
}

img:hover {
    transform: scale(1.1);
}

/* NAVEGADOR */
#cabecera {
    z-index: 2;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-size: 0.9em;
}

nav ul {
    list-style: none;
    width: 100%;
    padding: 25px 0px;
    display: flex;
    flex-direction: row;
}

nav li {
    padding: 0 30px;
}

.contenedor {
    padding: 0 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 107px;
}

.botonera a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-family: "Kanit medium", "sans-serif";
    text-transform: uppercase;
    font-size: 1.2em;
}

.botonera a:hover {
    color: white;
    background-color: black;
}

.botonera a:active {
    color: black;
    background-color: darkgoldenrod;
}

/* INICIO */
.titulares_fondo {
    background-color: rgb(133, 26, 88);
    background-image: url(img/fondo_ilustracion2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    background-size: 100% auto;
    color: white;
}

.transparencia {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.titulares {
    padding: 200px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.flecha_bajada {
    display: flex;
    justify-content: center;
    padding: 0 0 450px 0;
    /*Puse un padding en 450px ya que era la única forma que encontré que la imagen de fondo se adapte al contenido y no se vea el color de fondo. Probé anteriormente con un height en distintas unidades pero no funcionó.*/
}

#bienvenida {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(133, 26, 88, 0.50) 100%), #000;
    width: 100%;
    margin: 0px auto;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentacion {
    padding: 0 0 20px 0;
    max-width: 900px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
    border-bottom: 3px solid white;
}

.trabajos_destacados {
    padding: 30px 0 0 0;
    color: white;
    display: grid;
    grid-gap: 32px;
    justify-items: center;
    justify-content: center;

    h2 {
        text-transform: uppercase;
    }
}

.ilustraciones_destacadas {
    margin: 0 auto;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: 32px;
    justify-items: center;
    justify-content: center;
}

/*SOBRE MI*/
.presentacion_curriculum img {
    border-radius: 300px;
}

div article {
    max-width: 510px;
}

.bold_items {
    font-family: "Kanit medium", "sans-serif";
}

#contenedor_curriculum {
    background-color: darkgoldenrod;
    color: rgb(133, 26, 88);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 160px 0 0 0;

    ol {
        list-style: disc;
        padding-left: 20px;
    }

    li {
        padding-left: 0px;

    }
}

.presentacion_curriculum {
    width: 100%;
    padding: 30px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    p {
        color: black;
    }
}

.estructura_columnas {
    padding: 50px 0 100px 0;
    color: white;
    background-color: rgb(133, 26, 88);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;

    ul {
        padding-left: 20px;
    }
}

#columna_izquierda {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#columna_derecha {
    display: flex;
    justify-content: space-between;

    li {
        font-family: "Kanit medium", sans-serif;
        font-size: 1.5em;
    }
}

.estructura article {
    padding: 0 40px 0 0;
}

#perfil_profesional h3:hover {
    color: white;
}

#experiencia_laboral h3:hover {
    color: darkgoldenrod;
}

#formacion_academica h3:hover {
    color: darkgoldenrod;
}

#idiomas h3:hover {
    color: darkgoldenrod;
}

#programas h3:hover {
    color: darkgoldenrod;
}

#idiomas {
    font-family: "Kanit light", sans-serif;
    font-size: 1.5em;

}

.medidor_de_progreso {
    padding: 30px 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 160px;
    gap: 18px;
}

/*TRABAJOS*/
#trabajos {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(184, 134, 11, 0.50) 100%), #000;
    color: white;
    width: 100%;
    padding: 160px 0;
}

.estructura_galeria {
    display: grid;
    text-align: center;
    gap: 60px;
}

.grid_imagenes {
    margin: 0 auto;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-gap: 32px;
    justify-items: center;
    justify-content: center;
}

.imagenes {
    position: relative;
    transition: all 400ms ease;
}

.imagenes:hover {
    transform: scale(1.1);
}

.imagenes p {
    font-family: "Kanit medium", sans-serif;
    font-size: 4.5em;
}

.imagenes div {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.imagenes div:hover {
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
}



#galeria {
    display: none;
    width: 100%;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
    position: absolute;
    top: 0;
    z-index: 10;
}

#galeria_oculta {
    display: flex;
    width: 100%;
    max-width: 1450px;
    overflow: hidden;
    z-index: 20;
}

.fraccion_galeria {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    min-width: 1450px;
    height: 100vh;
    justify-content: space-between;
}

.primer_ultima_flecha {
    visibility: hidden;
}

.close {
    position: absolute;
    top: 10px;
    right: 2%;
}

/*------IDS CON LAS IMÁGENES DE LA GALERÍA-------*/

#foto_1 {
    background-image: url("img/fondo_ilustracion2.png");
}

#foto_2 {
    background-image: url("img/foto-2.jpg")
}

#foto_3 {
    background-image: url("img/foto-3.jpg");
}

#foto_4 {
    background-image: url("img/foto-3.jpg");
}

#foto_4 {
    background-image: url("img/foto-3.jpg");
}

#foto_6 {
    background-image: url("img/foto-3.jpg");
}

#foto_7 {
    background-image: url("img/foto-3.jpg");
}

#foto_8 {
    background-image: url("img/foto-3.jpg");
}




/*CONTACTO*/
#estructura_contacto {
    font-family: "Kanit medium", "sans-serif";
    background-color: rgb(133, 26, 88);
    color: white;
    padding: 160px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.contacto {
    background-color: darkgoldenrod;
    padding: 60px 80px;
    box-shadow: -8px 10px 4px 0px rgba(0, 0, 0, 0.30);
}

form {
    color: rgb(133, 26, 88);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#dos_columnas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
}

.campos_marcar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        font-family: "Kanit medium", "sans-serif";
        font-size: 1.0em;
    }
}

label {
    height: 30px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    font-family: "Kanit light", "sans-serif";
    font-size: 1.0em;
    padding: 10px 24px;
    margin: 5px 0 20px 0;
    color: rgb(133, 26, 88);
    border: 3px solid rgb(133, 26, 88);
}

#marcar {
    font-family: "Kanit light", "sans-serif";
}

input[type="radio"] {
    appearance: none;
}

input[type="radio"]+label::before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: inline-flex;
}

input[type="radio"]:checked+label::before {
    background-color: rgb(133, 26, 88);
}

textarea {
    font-family: "Kanit light", "sans-serif";
    font-size: 1.0em;
    width: 745px;
    height: 185px;
    padding: 10px 24px;
    margin: 8px 0 30px 0;
    color: rgb(133, 26, 88);
    border: 3px solid rgb(133, 26, 88);
}

.mensaje_enviar {
    display: flex;
    flex-direction: column;
}

.boton_enviar {
    font-family: "Kanit light", "sans-serif";
    font-size: 1.0em;
    height: 50px;
    background-color: rgb(133, 26, 88);
    color: white;
    border: 3px solid rgb(133, 26, 88);
}

/* FOOTER */
.informacion_contacto {
    font-style: normal;
}

.correo a {
    text-decoration: none;
    color: white;
}

.correo a:hover {
    color: darkgoldenrod;
}

.correo a:active {
    color: rgb(133, 26, 88);
}

.telefono {
    padding-bottom: 20px;
}

.telefono a {
    text-decoration: none;
    color: white;
}

.telefono a:hover {
    color: darkgoldenrod;
}

.telefono a:active {
    color: rgb(133, 26, 88);
}

footer {
    background-color: black;
    color: white;
    font-family: "Kanit light", "sans-serif";
    text-decoration: none;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#contenedor_footer {
    padding: 0 100px;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 70px;
}

.redes {
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}